<div class="timeline">
  <!-- <header class="timeline-header">
    <span class="tag is-medium is-danger"></span>
  </header> -->
  <div class="timeline-item is-danger" *ngFor="let edu of experience">
    <div class="timeline-marker is-link"></div>
    <div class="timeline-content scale-up-center">
      <p class="heading">{{ edu.year }}</p>
      <span class="tag is-medium is-danger"><p class="is-size-7 has-text-weight-semibold">{{edu.role}}</p></span>
      <br>
      <p class="is-size-6 has-text-weight-medium" [innerHTML]=edu.At></p>
    </div>
  </div>

  <!-- <header class="timeline-header">
    <span class="tag is-medium is-danger"></span>
  </header> -->
</div>
