<footer class="footer mt-6">



  <div class="content has-text-centered">
    <p>

© santhoshthomas 2020 | <span class="pr-2 pl-2"><a target="_unblank" href="https://www.behance.net/santhoshthomas" title="behance"><i class="fab fa-behance"></i></a></span>
<span class="pr-2 pl-2"><a target="_unblank" href="https://www.behance.net/santhoshthomas" title="linkedin"><i class="fab fa-linkedin-in"></i> </a></span>
<span class="pr-2 pl-2"><a target="_unblank" href="https://github.com/sats268842"  title="github"><i class="fab fa-github-alt"></i></a></span>
<span class="pr-2 pl-2"><a target="_unblank" href="https://www.instagram.com/san_thos_h/" title="instagram"><i class="fab fa-instagram">/i></a></span>
    </p>
  </div>


</footer>
