@import '../../main-style.scss';

.landing{
  position: relative;
    .home-image{
      bottom: 50px !important;
      // margin-bottom: 0;
      padding-right: 0 !important;
      padding-left: 0 !important;
      position: absolute;
    }
    .landing-image{
      width: 0;
      height: 0;
      top:0 !important;
      border-top: 350px solid $primary;
      border-right: 350px solid transparent;
    }

    .home-text{
      bottom: 0 !important;
      padding-left: 100px !important;
    h5{
      color: $primary;
      font-size: 22px;
    }
    h1{
      color: $primary;
      font-size: 64px;
    }
    h4{
      color: $lightblack;
      font-size: 22px;
      font-weight: 600;
    }

    // position: absolute;
    }
}



.skill-section{


  img{
    text-align: center;
    margin: auto;
  }
}



.service-section{



  .column{
    margin-bottom: 50px;
  }

}



.works-section{

  .column{
    margin-bottom: 50px;
    display: flex;
  }
  .columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-content{
    background-color: $primary;
    bottom: 0 !important;
    margin-bottom: 0;
  }
}


.contact-section{

.input, textarea{
  border: none;
  background: none;
  border-bottom: 1.5px solid $primary;
  border-radius: 0;
  opacity: 0.7;

}
}


// .landing-image{
//   position:absolute;
//   display: flex;
//   float: right;
//   flex-direction: column;
//   width: 0;
//   height: 0;
//   bottom:0 !important;
//   right:0 !important;
//   border-bottom: 150px solid $primary;
//   border-left: 350px solid transparent;
//   // opacity: 0.1;
//   // z-index: 1;
// }
@media screen and (max-width: 1020px) {

  .skill-section{
    .columns{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .container {

    padding-top: 30px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    }

.landing{
  .columns{
    margin-left: 0 !important;
    margin-right: 0 !important;

  }

  .home-text{
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 85px !important;
    h4{
      font-size: 16px;
    }

  }
}
}

@media only screen  and (min-width : 1224px) {
  /* Styles */
  // .container {

  //   padding-top: 150px !important;
  //   // padding-left: 100px !important;
  //   // padding-right: 100px !important;
  //   }
  .landing{
    .home-text{
      padding-top: 50px !important;
    }

  }
  .service-section{

    .columns{
      display: grid;
      grid-template-columns: 1fr 1fr;
     }
  }


}
