<section class="landing">
  <div class="landing-image is-hidden-touch"></div>
<div class="columns">

  <div class="column ">


    <div class="home-text ">

    <h5>Hi, there!</h5>
    <h1 class="has-text-weight-bold is-size-3-touch is-size-1">I'm Santhosh Thomas</h1>
    <p>Web Developer</p>
    <div class="buttons pt-5">
    <button class="button is-primary button is-normal has-text-weight-semibold pl-5 pr-5">Hire Me</button>
    </div>

    <div class="columns pt-3">
      <div class="column  has-text-weight-semibold is-size-5">
       <p>Email</p>
       <p class="is-size-6">santhoshthomas015@gmail.com</p>
        </div>
        <div class="column  has-text-weight-semibold is-size-5">
        <p>Phone</p>
        <p class="is-size-6">(+91)9074134303</p>
        </div>
        <div class="column = has-text-weight-semibold is-size-5">
          <p>Location</p>
        <p class="is-size-6">Kerala, India</p>

        </div>
        </div>
     </div>
  </div>


  <div class="column">
    <img class="home-image image is-hidden-touch" alt="Landing page Image" src="../../assets/section1.png">
  </div>

</div>
</section>


<section class="pt-6 about-section container">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary has-text-centered-touch">About <span class="has-text-link">Me</span></h1>

<div class="columns pt-6 mt-6">
  <div class="column">
    <img class="image" alt="About Me Image"  src="../../assets/about.svg">
  </div>
    <div class="column">
      <h1 class="is-size-2 pt-6 has-text-weight-semibold has-text-primary is-size-3-touch">Santhosh Thomas</h1>

      <p class="is-size-5 has-text-weight-medium has-text-link pt-6">I am a Website designer, developer & graphic designer. A design minded front-end software engineer focused on building beautiful interfaces & experience.  My goal is to always build applications that are scalable and efficient under the hood while providing engaging, pixel-perfect user experiences.</p>
      <div class="buttons pt-6">
        <button class="button is-primary button is-medium has-text-weight-semibold"><i class="far fa-paper-plane pr-4"></i>Download CV</button>
        </div>
    </div>
    </div>
</section>


<section class="pt-6 skill-section container">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary">My <span class="has-text-link">Skills</span></h1>

<div class="columns pt-6 mt-6 is-centered">

  <div class="column" *ngFor="let skill of skills">
    <app-progressbar [value]=skill.per [skill]=skill.name [icon]=skill.icon></app-progressbar>


    </div>
</div>

</section>


<section class="pt-6 education-section container">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary has-text-centered-touch">My <span class="has-text-link">Education</span></h1>
<div class="hero">
<div class="columns pt-6 pb-6 mt-6">

    <img class="image" alt="education image" src="../../assets/education.png">
</div>
</div>
</section>



<section class="pt-6 service-section container">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary has-text-centered-touch">My <span class="has-text-link">Services</span></h1>
<div class="container">
<div class="columns pt-6 " >

  <div class="column" *ngFor="let service of services">

      <article class="media">
        <figure class="media-left">
          <p class="image is-96x96">
            <img [src]=service.imageUrl alt="Service Image">
          </p>
        </figure>
        <div class="media-content">
          <div class="contendt">
            <p class="is-size-4 pt-1 has-text-weight-bold has-text-primary is-size-5-touch"> {{ service.name }}</p>
            <p class="is-size-6 pt-2 has-text-weight-medium has-text-link">
              {{ service.description }}
            </p>
          </div>

        </div>

      </article>
      </div>
  </div>

  </div>


</section>



<section class="pt-6 works-section container">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary has-text-centered-touch">My <span class="has-text-link">Works</span></h1>
<div class="container">
<div class="columns pt-6" >

  <div class="column" *ngFor="let work of works">
    <div class="card">
      <div class="card-image">
        <figure class="image  ">
          <img  alt="Works Image"  [src]=work.imageurl >
        </figure>
      </div>
      <div class="card-content">
        <div class="media">

          <div class="media-content">
         <a target="_unblank" href={{work.url}}> <h1 class="has-text-centered has-text-white is-size-4 has-text-weight-medium">{{ work.name }}</h1></a>
          </div>
        </div>

      </div>
    </div>

      </div>
  </div>

  </div>


</section>



<!--
<section class="pt-6 contact-section container">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary has-text-centered-touch">Contact <span class="has-text-link">Me</span></h1>


<div class="columns pt-6 mt-6 ">
  <div class="column">
    <img class="image" src="../../assets/contactus.png">
  </div>

    <div class="column">

      <div class="containers">
      <div class="field">
        <div class="control">
          <input class="input is-primary" type="text" placeholder="Name">
        </div>
      </div>
      <div class="field pt-4">
        <div class="control">
          <input class="input is-primary" type="text" placeholder="Email">
        </div>
      </div>
      <textarea class="textarea pt-4 is-primary" placeholder="10 lines of textarea" rows="10"></textarea>

      <div class="buttons pt-4">
        <button class="button is-primary button is-medium has-text-weight-semibold"><i class="far fa-paper-plane pr-4"></i>Submit</button>
        </div>
      </div>
    </div>
    </div>


</section>
 -->



<!-- <div class="landing-image"></div> -->
