<section class="landing">
<div class="columns">

  <div class="column">
    <div class="landing-image"></div>

    <div class="home-text">

    <h5>Hi, there!</h5>
    <h1 class="has-text-weight-bold">I'm Santhosh Thomas</h1>
    <h4>Web Developer</h4>
    <div class="buttons pt-5">
    <button class="button is-primary button is-medium has-text-weight-semibold pl-5 pr-5">Hire Me</button>
    </div>

    <div class="columns pt-3">
      <div class="column  has-text-weight-semibold is-size-5">
       <h4>Email</h4>
       <h6 class="is-size-6">santhoshthomas015@gmail.com</h6>
        </div>
        <div class="column  has-text-weight-semibold is-size-5">
        <h4>Phone</h4>
        <h6 class="is-size-6">(+91)9074134303</h6>
        </div>
        <div class="column = has-text-weight-semibold is-size-5">
          <h4>Location</h4>
        <h2 class="is-size-6">Kerala, India</h2>

        </div>
        </div>
     </div>
  </div>


  <div class="column">
    <img class="home-image image " src="../../assets/section1.png">
  </div>

</div>
</section>


<section class="pt-6 about-section">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary">About <span class="has-text-link">Me</span></h1>

<div class="columns pt-6 mt-6">
  <div class="column">
    <img class="image" src="../../assets/about.svg">
  </div>
    <div class="column">
      <h1 class="is-size-2 pt-6 has-text-weight-semibold has-text-primary">Santhosh Thomas</h1>

      <p class="is-size-5 has-text-weight-medium has-text-link pt-6">I am a Website designer, developer & graphic designer. A design minded front-end software engineer focused on building beautiful interfaces & experience.  My goal is to always build applications that are scalable and efficient under the hood while providing engaging, pixel-perfect user experiences.</p>
      <div class="buttons pt-6">
        <button class="button is-primary button is-medium has-text-weight-semibold"><i class="far fa-paper-plane pr-4"></i>Download CV</button>
        </div>
    </div>
    </div>
</section>


<section class="pt-6 skill-section">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary">My <span class="has-text-link">Skills</span></h1>

<div class="columns pt-6 mt-6 is-centered">
  <div class="column ">
    <img class="image  is-128x128" src="../../assets/flask.png">
    <h5 class="pt-4 has-text-centered has-text-weight-semibold has-text-link is-size-4">Angular</h5>
  </div>
  <div class="column">
    <img class="image  is-128x128" src="../../assets/flask.png">
    <h5 class="pt-4 has-text-centered has-text-weight-semibold has-text-link is-size-4">Angular</h5>
  </div>
  <div class="column">
    <img class="image  is-128x128" src="../../assets/flask.png">
    <h5 class="pt-4 has-text-centered has-text-weight-semibold has-text-link is-size-4">Angular</h5>
  </div>
  <div class="column">
    <img class="image  is-128x128" src="../../assets/flask.png">
    <h5 class="pt-4 has-text-centered has-text-weight-semibold has-text-link is-size-4">Angular</h5>
  </div>

    </div>

    <div class="columns pt-6 is-centered">
      <div class="column ">
        <img class="image  is-128x128" src="../../assets/flask.png">
        <h5 class="pt-4 has-text-centered has-text-weight-semibold has-text-link is-size-4">Angular</h5>
      </div>
      <div class="column">
        <img class="image  is-128x128" src="../../assets/flask.png">
        <h5 class="pt-4 has-text-centered has-text-weight-semibold has-text-link is-size-4">Angular</h5>
      </div>
      <div class="column">
        <img class="image  is-128x128" src="../../assets/flask.png">
        <h5 class="pt-4 has-text-centered has-text-weight-semibold has-text-link is-size-4">Angular</h5>
      </div>
      <div class="column">
        <img class="image  is-128x128" src="../../assets/flask.png">
        <h5 class="pt-4 has-text-centered has-text-weight-semibold has-text-link is-size-4">Angular</h5>
      </div>

        </div>
</section>




<section class="pt-6 about-section">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary">My <span class="has-text-link">Education</span></h1>
<div class="hero">
<div class="columns pt-6 mt-6">

    <img class="image" src="../../assets/education.png">
</div>
</div>
</section>
dd


<section class="pt-6 about-section">
  <br>
<h1 class="is-size-1 has-text-weight-bold has-text-primary">My <span class="has-text-link">Services</span></h1>

<div class="columns pt-6 mt-6">

  </div>
   <div class="column">

    </div>
</section>
